<h3>QUESTION</h3>
</br>
<p id="notice"><%= notice %></p>

<p>
  <h3><%= @post.user.name %>:</h3>
</p>

<p>
  <b>Ques:</b>
  <%= @post.content %>
</p>
</br>
<p>
<h3>Answers</h3>
<hr>
</p>
<% @post.comments.each do |comment| %>
  <p>
    <b>By:</b>
    <% user=User.find(comment.commenter) %>
    <%= user.name %>
  </p>
 
  <p>
    <b>Ans:</b>
    <%= comment.body %>
  </p>

  <p>
    <% if current_user.id == user.id %>
      <%= link_to 'Delete', post_comment_path(@post,comment), confirm: 'Are you sure?', method: :delete %>
    <% end %>
  </p>
  <hr>
<% end %>


<h3>Add an Answer:</h3>
<%= form_for([@post, @post.comments.build]) do |f| %>
  
  
  <div class="field">
   
    <%= f.text_area :body, :rows => "8" %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>

<br />

<div class="btn"><%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %></div>
